* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #e7e7e7;
}

header {
    background-color: rgb(9, 158, 138);
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid rgb(7, 139, 122);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    border-bottom: 3px solid rgb(7, 139, 122);
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}

#botao-finalizar {
    background-color: red;
}

ul {
    width: 100%;
}

ul li {
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.ticar {
    text-decoration: none;
}
